@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Ruda', sans-serif; 
  color-scheme: dark light ;
  scroll-behavior: smooth;
  /* scrollbar-width: thin; */
  padding: 0;
  margin: 0;
  
  /* bg-[#212529] dark:bg-[#f9f7f6] text-[#f9f7f6] dark:text-[#545454] */
  
}

 body{
   /* background-image:url("https://c4.wallpaperflare.com/wallpaper/253/962/403/black-dark-mask-plague-doctor-wallpaper-thumb.jpg");
  background-position: cover; */

 } 
 /* .my-background{
  background-image: url("./assets/port-bg.png");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 5em;

 } */

.embla {
  overflow: hidden;
    
}
.embla2 {
  overflow: hidden;

}
.embla__container {
  display: flex;
  
}
.embla__slide {
  flex: 0 0 100%;



}
/* .navigator li a.active{
  color:red;
} */

/* *::-webkit-scrollbar {
  width: 20px;
}

 *::-webkit-scrollbar-track {
 background:white;
} 

*::-webkit-scrollbar-thumb {
  background-color: #080834;
 
} */
/* 
.active{
background-color: rgb(74, 90, 238);
} */

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}